.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myvenv/
env/
ENV/
.myvenv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code 
.vscode/ 
# PyCharm 
.idea/

# Database
db/
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
