beautifulsoup4==4.13.4
crewai==0.157.0
crewai_tools==0.60.0
langchain==0.3.27
langchain_community==0.3.27
langchain_openai==0.3.30
Markdown==3.8.2
openai==1.99.9
PyPDF2==3.0.1
python-dotenv==1.1.1
Requests==2.32.4
streamlit==1.37.1
# streamlit==1.47.1
tiktoken==0.9.0
